#header {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  color: var(--text);
  justify-content: space-between;
  background-color: var(--primary);
  border-bottom: 1px solid var(--accent);
}

#header h1 {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

#header button {
    color: var(--text);
  background-color: transparent;
  border: 1px solid var(--accent);
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

#header button:hover {
  transform: scale(1.05);
}
